*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #a4a4a4;

}

.conteiner{
    width: 80%;
    margin: 0 auto;
    
    /* debug */
    /* height: 200px; */
    /* background-color: aquamarine; */

}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* header and menu section */
header{
    width: 100%;
    height: 100px;
    
    /* debug */
    /* background-color:rgba(229,121,230,255); */
    /* il margin non ha effetto poichè header è meno importante della classe conteiner */
}
#logo img{
    height: 50px;
    margin-top: 10px;
}
#vertical-line{
    display: inline-block;
    height: 50px;
    border-left: 2px solid #f9f9f9;
    margin-left: 10px;
    
}
#menu a, li{
    margin-top: 10px;
    margin-right: 8px;
    display: inline-block;
    text-decoration: none;
    color: #a4a4a4;
    font-size: 12px;


}

/* jumbotron section */
.img-settings{
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
#jumbotron{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 500px;
    background-image: url(img/banner.jpg);
    /* background-position: center;
    background-size: cover;
    border-radius: 10px; */
    
    /* debug */
    /* background-color:rgba(225,214,122,255); */
}
/* #jumbotron img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: 50% 50%;
} */
#bannertext{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    padding-top: 28%;
    padding-right: 45%;
    padding-left: 3%;
    font-size: 28px;
    color:whitesmoke;
}
#bannertext p{
    font-size: 14px;
}

/* main section title */
.title{
    width: 100%;
    margin-bottom: 1.5%;

    
    /* debug */
    /* height: 50px;
    background-color:#abcfe7; */

}
.title h1{
    font-size: 30px;
    color: black;

}

/* main section body */
.clearfix{
    /* debug */
    /* background-color: #0086ff; */
}
.slot{
    float: left;
    position: relative;
    
    /* debug */
    /* background-color: #abcfe7; */
}
.dimension{
    width: 100%;
    height: 200px;
    /* background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px; */


}


.side{
    width: 22%;
   
    /* debug */
    /* height: 300px; */

}
/* .img-settings{
    width: 100%;
    height: 200px;
    background-image: url(img/img-1.jpg);
     background-size: cover;
    background-position: center;
    border-radius: 10px; 
} */
#img-sideleft{
    background-image: url(img/img-1.jpg);
    

    


}
#img-sideright{
    background-image: url(img/img-3.jpg);
    

}
.maintext{
    width: 54%;
    margin:0 1%;
    
    /* debug */
    /* height: 300px; */
    
}
#img-main{
    background-image: url(img/banner-2.jpg);
}
#leftbackgroundlayer{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}
#mainbackgroundlayer{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}
#righttbackgroundlayer{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}
.paragraphtitle{
    margin: 10px 0;
    color: black;
    font-size: 14px;
}
.slot p{
    font-size: 14px;

}


footer{
    width: 100%;
    margin-top: 5%;
    text-align: center;



    /* debug */
    /* height: 50px;
    background-color: #8801fe; */

}
#heart {
    color: red;
    font-size: 25px;
    font-weight: 900;
}